{% extends "layouts/base.html" %}
{% load static custom_tags file_extension %}

{% block content %}

    <div class="m-4">
        <div class="bg-white border border-gray-200 rounded-b-lg shadow-sm dark:border-gray-700 dark:bg-gray-800">
            <div class="flex border-b border-gray-200 dark:border-gray-700 bg-gray-100 dark:bg-gray-900">
                {% for tab in tabs %}
                    <div class="flex items-center border-r border-gray-200 dark:border-gray-700 last:border-r-0">
                        <a href="{% url "tab_details" tab.id %}" class="flex items-center px-4 py-2 text-sm hover:bg-gray-200 dark:hover:bg-gray-700 {% if tab.id == active_tab.id %}bg-white dark:bg-gray-800{% endif %}">
                            {{ tab.name }}
                            {% if tab.id != active_tab.id %}
                            <button 
                                type="button" 
                                onclick="event.stopPropagation(); event.preventDefault();"
                                data-modal-target="delete-tab-{{ tab.id }}" data-modal-toggle="delete-tab-{{ tab.id }}"
                                class="ml-4 text-gray-400 hover:text-red-500 text-sm flex-shrink-0"
                            >×</button>
                            {% endif %}
                        </a>
                    </div>

                    <!-- Delete tab Modal -->
                    <div class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full" id="delete-tab-{{ tab.id }}">
                        <div class="relative w-full h-full max-w-md px-4 md:h-auto">
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
                                <div class="flex justify-end p-2">
                                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white" data-modal-toggle="delete-tab-{{ tab.id }}">
                                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="p-6 pt-0 text-center">
                                    <svg class="w-16 h-16 mx-auto text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                    </svg>
                                    <h3 class="mt-5 mb-6 text-lg text-gray-500 dark:text-gray-400">Are you sure you want to delete?</h3>
                                    <a href="{% url "delete_tab" tab.id %}" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2 dark:focus:ring-red-800">
                                        Yes, I'm sure
                                    </a>
                                    <a href="#" class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700" data-modal-toggle="delete-tab-{{ tab.id }}">
                                        No, cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <a href="#" data-modal-target="add-tab-modal" data-modal-toggle="add-tab-modal" class="px-4 py-2 text-sm hover:bg-gray-200 dark:hover:bg-gray-700">
                    +  
                </a>
            </div>

            <div class="p-6 min-h-[600px] overflow-auto relative">
                
                {% if fields %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div id="delete-container"></div>
                    <div class="flex justify-end gap-2 mb-3">
                        <button
                            type="button"
                            data-modal-target="add-fields-modal" data-modal-toggle="add-fields-modal"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-xs px-4 py-2">
                        Field +
                        </button>

                        <button
                            type="button"
                            onclick="addRow()"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-xs px-4 py-2">
                        Row +
                        </button>

                        <button
                            type="submit"
                            class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-md text-xs px-4 py-2">
                        Save
                        </button>
                        <a href="{% url 'download_tab_csv' tab.id %}" class="text-white bg-green-600 hover:bg-green-700 text-xs px-4 py-2 rounded-md">
                            <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M13 11.15V4a1 1 0 1 0-2 0v7.15L8.78 8.374a1 1 0 1 0-1.56 1.25l4 5a1 1 0 0 0 1.56 0l4-5a1 1 0 1 0-1.56-1.25L13 11.15Z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M9.657 15.874 7.358 13H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.358l-2.3 2.874a3 3 0 0 1-4.685 0ZM17 16a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H17Z" clip-rule="evenodd"/>
                            </svg>
                        </a>
                    </div>

                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm text-left text-gray-500 border border-gray-300 border-collapse">
                            <thead class="text-xs text-gray-700">
                                <tr>
                                    <th class="px-4"></th>
                                    {% for field in fields %}
                                        <th class="border border-gray-300 relative">
                                            <input
                                                type="text"
                                                name="field_names[{{field.id}}]"
                                                value="{{ field.name }}"
                                                class="w-full p-2 pr-6 border-0 rounded-none focus:ring-0 focus:border-0 text-sm font-semibold text-gray-800"
                                            />
                                            <button
                                                type="button"
                                                data-modal-target="delete-field-{{ field.id }}" data-modal-toggle="delete-field-{{ field.id }}"
                                                class="absolute top-3 right-2 text-red-600 text-xs"
                                            >
                                                ✕
                                            </button>
                                        </th>

                                        <!-- Delete field Modal -->
                                        <div class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full" id="delete-field-{{ field.id }}">
                                            <div class="relative w-full h-full max-w-md px-4 md:h-auto">
                                                <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
                                                    <div class="flex justify-end p-2">
                                                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white" data-modal-toggle="delete-field-{{ field.id }}">
                                                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <div class="p-6 pt-0 text-center">
                                                        <svg class="w-16 h-16 mx-auto text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                                        </svg>
                                                        <h3 class="mt-5 mb-6 text-lg text-gray-500 dark:text-gray-400">Are you sure you want to delete?</h3>
                                                        <a href="{% url "delete_field" field.id %}" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2 dark:focus:ring-red-800">
                                                            Yes, I'm sure
                                                        </a>
                                                        <a href="#" class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700" data-modal-toggle="delete-field-{{ field.id }}">
                                                            No, cancel
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    {% endfor %}
                                    <th class="px-4">File</th>
                                    <th class="pe-1 border border-gray-300 text-center">
                                        Action
                                    </th>
                                </tr>
                            </thead>

                            <tbody id="table-body">
                                {% for row in rows %}
                                <tr id="row-{{row.id}}">
                                    <td class="border border-gray-300 text-center">{{ forloop.counter }}</td>
                                    {% for field in fields %}
                                    <td class="border border-gray-300">
                                        <input
                                            type="{% if field.type == 'NUMERIC' %}number{% elif field.type == 'DATE' %}date{% else %}text{% endif %}"
                                            name="data[row{{row.id}}][{{field.id}}]"
                                            value="{% for c in row.cells.all %}{% if c.field_id == field.id %}{{c.value}}{% endif %}{% endfor %}"
                                            class="w-full p-2 border-0 rounded-none focus:ring-0 focus:border-0"
                                        />
                                    </td>
                                    {% endfor %}
                                    <td class="border border-gray-300 px-4">
                                        <a class="" href="{% url "row_files" row.id %}">
                                            <svg class="w-4 h-4 text-blue-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd" d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-7Z" clip-rule="evenodd"/>
                                            </svg>
                                        </a>
                                    </td>
                                    <td class="border border-gray-300 text-center">
                                        <button
                                            type="button"
                                            onclick="deleteRow(this, {{row.id}})"
                                            class="text-red-600 border-0 font-medium text-sm"
                                        >
                                            ✕
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </form>
                {% else %}
                    <div class="absolute inset-0 flex items-center justify-center">
                        <div class="flex flex-col items-center gap-3">
                            <p class="text-gray-600">No fields found</p>
                            <button
                                type="button"
                                data-modal-target="add-fields-modal" data-modal-toggle="add-fields-modal"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-xs px-4 py-2">
                                Add new Field
                            </button>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <!-- Add new tab Modal -->
    <div class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full" id="add-tab-modal">
        <div class="relative w-full h-full max-w-2xl px-4 md:h-auto">
            <form method="post" action="{% url "create_tab" sheet.id %}" class="relative bg-white rounded-lg shadow dark:bg-gray-800">
                {% csrf_token %}

                <div class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-700">
                    <h3 class="text-xl font-semibold dark:text-white">
                        Add new Tab
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white" data-modal-toggle="add-tab-modal">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div class="p-6 space-y-6">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tab Name</label>
                            <input type="text" name="name" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Farm Name" required>
                        </div>
                    </div>
                </div>
                <div class="items-center p-6 border-t border-gray-200 rounded-b dark:border-gray-700">
                    <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Add new field Modal -->
    <div class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full" id="add-fields-modal">
        <div class="relative w-full h-full max-w-2xl px-4 md:h-auto">
            <form method="post" action="{% url "add_new_field" tab.id %}" class="relative bg-white rounded-lg shadow dark:bg-gray-800">
                {% csrf_token %}

                <div class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-700">
                    <h3 class="text-xl font-semibold dark:text-white">
                        Add new Field
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white" data-modal-toggle="add-fields-modal">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div class="p-6 space-y-6">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Field Name</label>
                            <input type="text" name="name" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Farm Name" required>
                        </div>
                        <div class="col-span-6">
                            <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Field Type</label>
                            <select id="type" name="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                {% for value, label in types %}
                                <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="items-center p-6 border-t border-gray-200 rounded-b dark:border-gray-700">
                    <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>


{% endblock content %}

{% block extra_js %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const paginationLinks = document.querySelectorAll('.page-link');
      
      paginationLinks.forEach(function (link) {
        link.addEventListener('click', function (e) {
          e.preventDefault();
          const page = link.getAttribute('data-page');
          const params = new URLSearchParams(window.location.search);
          params.set('page', page);
          window.location.href = `${window.location.pathname}?${params.toString()}`;
        });
      });
    });
</script>

<script>
    let rowIndex = 0

    function updateSerials(){
        const rows = document.querySelectorAll("#table-body tr")
        rows.forEach((tr, index) => {
            tr.children[0].innerText = index + 1
        })
    }

    function deleteRow(button, rowId=null){
        const tr = button.closest("tr")
        tr.remove()

        if(rowId){
            const container = document.getElementById("delete-container")
            const input = document.createElement("input")

            input.type = "hidden"
            input.name = "delete_rows"
            input.value = rowId

            container.appendChild(input)
        }

        updateSerials()
    }

    function addRow(){
        const tbody = document.getElementById("table-body")
        const tr = document.createElement("tr")

        const serialTd = document.createElement("td")
        serialTd.className = "border border-gray-300 text-center"
        tr.appendChild(serialTd)

        {% for field in fields %}

            const td_{{forloop.counter}} = document.createElement("td")
            td_{{forloop.counter}}.className = "border border-gray-300"

            const input_{{forloop.counter}} = document.createElement("input")

            {% if field.type == "NUMERIC" %}
                input_{{forloop.counter}}.type = "number"
            {% elif field.type == "DATE" %}
                input_{{forloop.counter}}.type = "date"
            {% else %}
                input_{{forloop.counter}}.type = "text"
            {% endif %}

            input_{{forloop.counter}}.name = "data[new"+rowIndex+"][{{field.id}}]"
            input_{{forloop.counter}}.className = "w-full p-2 border-0 rounded-none focus:ring-0 focus:border-0"

            td_{{forloop.counter}}.appendChild(input_{{forloop.counter}})
            tr.appendChild(td_{{forloop.counter}})

        {% endfor %}

        const fileTd = document.createElement("td")
        fileTd.className = "border border-gray-300 px-2"
        tr.appendChild(fileTd)

        const actionTd = document.createElement("td")
        actionTd.className = "border border-gray-300 text-center"

        const btn = document.createElement("button")
        btn.type = "button"
        btn.innerHTML = "✕"
        btn.className = "text-red-600 border-0 font-medium text-sm"
        btn.onclick = function(){ deleteRow(btn) }

        actionTd.appendChild(btn)
        tr.appendChild(actionTd)

        tbody.appendChild(tr)

        rowIndex++

        updateSerials()
    }

    updateSerials()

</script>

<script>
  function previewFile(input){
    const file = input.files[0]
    if(!file) return

    const container = input.closest("div")

    let existing = container.querySelector("a")
    if(existing) existing.remove()

    const span = document.createElement("span")
    span.className = "text-xs text-gray-700 truncate max-w-[120px]"
    span.innerText = file.name

    container.appendChild(span)
  }
</script>

{% endblock extra_js %}